<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Look to Speak</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <h1>Look to speech</h1>
    <section class="info">
      <p class="credit">
        Built by
        <a
          href="https://github.com/yuetl3mr/"
          target="_blank"
          rel="noopener noreferrer"
          >yuetl3mr</a
        >
      </p>
      <p class="instruction">
        Look left or right to filter down the text you would like to
        select.
      </p>
      <!-- <p class="model-status">Machine learning model loading...</p> -->
    </section>

    <main>
      <div id="main">
        <section class="keyboard">
          <textarea
            class="output"
            placeholder="..."
            cols="30"
            rows="1"
          ></textarea>
          <section class="letters">
            <section class="section-left">
              <!-- <p>Who are you?</p>
              <p>What your name?</p>
              <p>SOS</p>
              <p>I wanna eat sth</p> -->
            </section>
            <section class="section-right">
              <!-- <p>I need water</p>
              <p>I need you</p>
              <p>Yes</p>
              <p>No</p> -->
            </section>
          </section>
        </section>
      </div>
    </main>
    <script src="../static/index.js"></script>
  </body>
</html>
